name: E2E Tests
on:
  issue_comment:
    types: [created]

jobs:
  e2e:
    if: contains(github.event.comment.body, '/e2e')
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: refs/pull/${{ github.event.issue.number }}/head
      - name: Setup environment
        run: ./scripts/setup-env.sh
      - name: Run E2E
        run: |
          ./scripts/test.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}